/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2 {
  line-height: 1;
}

/*********************************** Global Styles ****************************************/

body {
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  font-size: 1rem;

  display: grid;
  place-content: center;
  margin: 1rem;
}

.flex-group {
  display: flex;
  flex-flow: row wrap;
  gap: .75rem;
  align-items: center;
}

.product {
  display: grid;
  background-color: white;
  border-radius: .5rem;
  overflow: hidden;
  max-width: 600px;
}

@media (min-width: 600px) {
  .product {
    grid-template-columns: 1fr 1fr;
  }
}

.product-text {
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
}

.product-category {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: .825rem;
  font-weight: 500;
}

.product-title {
  font-size: 2rem;
  font-family: 'Fraunces', serif;
  color: hsl(212, 21%, 14%);
}

.new-price {
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
  font-size: 2rem;
}

.old-price {
  text-decoration: line-through;
}

svg {
  padding-right: 20px;
}

button {
  color: white;
  background-color: hsl(158, 36%, 37%);
  font-weight: 700;
  font-size: .9rem;
  padding: .75em 1.5em;
  border-radius: .5rem;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  gap: .8rem;
  justify-content: center;
  align-items: center;
}

.button:is(:hover, :focus) {
  background-color: hsl(158, 36%, 20%)
}

/*Footer*/

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: black;
}


/*Desktop Styles*/

@media only screen and (min-width: 1200px) {


}
