/*Global Styles*/

/*Footer*/
.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: black;
}


/*
Fonts: 
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
*/